<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.mahindra.xuv3OO</key>
		<string>MahendraXUV3OO_Dev_Prov</string>
		<key>com.mahindra.xuv3OO.watchkit</key>
		<string>MahendraXUV3OO_WatchKit_Dev_Prov</string>
		<key>com.mahindra.xuv3OO.watchkit.extension</key>
		<string>MahendraXUV3OO_WatchKit_Extension_Dev_Prov</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Developer</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>83KW3RDYA4</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
